<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wthStyle.css' %}">
</head>
<body>
    <div class="container">
        <h1>Weather Forecast</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter City name: " name="city">
        <button type="submit">Search city</button>
        <button type="submit" name="forecast_type" value="5_day">5-Day Forecast</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        {% if forecast %}
            <div class="forecast-row">
                {% for day in forecast %}
                    <div class="forecast-card">
                        <h3>{{ day.date|date:"D" }}</h3> <!-- Day of the week -->
                        <p>{{ day.date|time:"H:i" }}</p> <!-- Time -->
                        <img src="http://openweathermap.org/img/wn/{{ day.icon }}.png" alt="Weather Icon" width="50px">
                        <p>{{ day.temp }}°C</p>
                        <p>{{ day.description }}</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="current-weather">
                <h2>{{ temp }}°C</h2>
                <h3>{{ city }}</h3>
                <p>{{ description }}</p>
                <img src="http://openweathermap.org/img/wn/{{ icon }}.png" alt="Weather Icon" width="100px">
                <p>{{ day }}</p>
            </div>
        {% endif %}
    {% endif %}
</body>
</html>
